In [30]:
import pandas as pd
import numpy as np

In [31]:
df1=pd.read_csv('reddit_flair.csv')

In [32]:
df1.info()
df1.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799 entries, 0 to 1798
Data columns (total 8 columns):
flair       1799 non-null object
title       1799 non-null object
author      1799 non-null object
text        1066 non-null object
url         1799 non-null object
comments    1646 non-null object
score       1799 non-null int64
domain      1799 non-null object
dtypes: int64(1), object(7)
memory usage: 112.6+ KB

,flair,title,author,text,url,comments,score,domain
0,AskIndia,4 days ago we had pending orders of 100 millio...,india_ko_vanakkam,> We are getting frantic calls from our pharma...,https://www.reddit.com/r/india/comments/fwjdqr...,"\nModi has Stockholm syndrome\nTo be fair, the...",96,self.india
1,AskIndia,Randians who were big time users of dating app...,__knockknockturnal__,I'd my own stint with these apps(a couple of m...,https://www.reddit.com/r/india/comments/fizkkk...,\nSomeone matched with me just to tell me that...,19,self.india
2,AskIndia,What does r/India thinks about the Flat Earthers?,Dev1003,"I encountered a Foreigner in IG who says "" Rou...",https://www.reddit.com/r/india/comments/f25vx0...,\nI haven't found a Indian yet who believes ea...,7,self.india
3,AskIndia,People who left their 9 to 5 jobs to pursue a ...,c0mrade34,Couldn't add AskIndia flair from the mobile br...,https://www.reddit.com/r/india/comments/dtvliq...,"\nAn Engineer, doing advertisement shoots sinc...",44,self.india
4,AskIndia,Somebody want to kill my full family what to do?,amitkumarthakur,"It's now 24hrs, But local police station is no...",https://www.reddit.com/r/india/comments/b7pvwt...,\nCalm down.\nGo to the SP office of your town...,96,self.india

In [35]:
df2_1=pd.read_csv('final_db.csv')
df2_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11544 entries, 0 to 11543
Data columns (total 8 columns):
author      11544 non-null object
comments    9155 non-null object
domain      11544 non-null object
flair       11544 non-null object
score       11544 non-null int64
text        11544 non-null object
title       11544 non-null object
url         11544 non-null object
dtypes: int64(1), object(7)
memory usage: 721.6+ KB

In [13]:
df2_2=pd.read_csv('out.csv')
df2_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15803 entries, 0 to 15802
Data columns (total 10 columns):
Unnamed: 0         15803 non-null int64
link_flair_text    15803 non-null object
title              15803 non-null object
author             15803 non-null object
selftext           5456 non-null object
url                15803 non-null object
id                 15803 non-null object
score              15803 non-null int64
domain             15803 non-null object
comments           10920 non-null object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB

In [27]:
df2_2[df2_2['selftext']==np.nan]

Empty DataFrame
Columns: [Unnamed: 0, link_flair_text, title, author, selftext, url, id, score, domain, comments]
Index: []

In [19]:
df3.drop(['id','Unnamed: 0'],axis=1,inplace=True)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [20]:
df3.rename(columns={"selftext": "text","link_flair_text":"flair"},inplace=True)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\pandas\core\frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [21]:
df3.head()

Empty DataFrame
Columns: [flair, title, author, text, url, score, domain, comments]
Index: []