In [136]:
import pandas as pd
import numpy as np

In [137]:
df1_1=pd.read_csv('reddit_flair3.csv')
df1_2=pd.read_csv('reddit_flair.csv')

df.head()

In [138]:
df1=pd.concat([df1_1,df1_2],ignore_index=True)
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4113 entries, 0 to 4112
Data columns (total 8 columns):
flair       4113 non-null object
title       4113 non-null object
author      4113 non-null object
text        2467 non-null object
url         4113 non-null object
comments    3766 non-null object
score       4113 non-null int64
domain      4113 non-null object
dtypes: int64(1), object(7)
memory usage: 257.2+ KB

In [141]:
df2=pd.read_csv('out.csv')
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15803 entries, 0 to 15802
Data columns (total 10 columns):
Unnamed: 0         15803 non-null int64
link_flair_text    15803 non-null object
title              15803 non-null object
author             15803 non-null object
selftext           5456 non-null object
url                15803 non-null object
id                 15803 non-null object
score              15803 non-null int64
domain             15803 non-null object
comments           10920 non-null object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB

In [142]:
df2.drop('Unnamed: 0',axis=1,inplace=True)

In [143]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15803 entries, 0 to 15802
Data columns (total 9 columns):
link_flair_text    15803 non-null object
title              15803 non-null object
author             15803 non-null object
selftext           5456 non-null object
url                15803 non-null object
id                 15803 non-null object
score              15803 non-null int64
domain             15803 non-null object
comments           10920 non-null object
dtypes: int64(1), object(8)
memory usage: 1.1+ MB

In [144]:
df2.drop('id',axis=1,inplace=True)
df2.head()

,link_flair_text,title,author,selftext,url,score,domain,comments
0,Politics,Is BJP quietly raising Ram Mandir issue ahead ...,Anti_bhakt,NaN,http://indianexpress.com/article/opinion/web-e...,3,indianexpress.com,"RSS/BJP: Poora Desh Jal Jaye, Lekin Mandir Wah..."
1,AskIndia,How do you look after your elderly loved ones ...,ZareenUK,How do you look after your elderly loved ones ...,https://www.reddit.com/r/india/comments/59ufq9...,11,self.india,The best option is your mother staying with hi...
2,AskIndia,[Ask] Road accident,Aamraswala,Suppose you are driving a car or riding a bike...,https://www.reddit.com/r/india/comments/56nlc0...,11,self.india,It's always the fault of the guy in the bigger...
3,Politics,Naroda patiya case: Babu Bajrangi gets 7 day-b...,nuclearpowerwalah,NaN,http://indianexpress.com/article/india/india-n...,43,indianexpress.com,why not just give him a clean chit like his ma...
4,Politics,IAF chief Anup Raha sends tough message to Pak...,AcheDin,NaN,http://zeenews.india.com/news/india/iaf-chief-...,1,zeenews.india.com,NaN

In [145]:
df2.rename(columns={"selftext": "text","link_flair_text":"flair"},inplace=True)

In [146]:
df1

,flair,title,author,text,url,comments,score,domain
0,AskIndia,4 days ago we had pending orders of 100 millio...,india_ko_vanakkam,> We are getting frantic calls from our pharma...,https://www.reddit.com/r/india/comments/fwjdqr...,"\nModi has Stockholm syndrome\nTo be fair, the...",91,self.india
1,AskIndia,Randians who were big time users of dating app...,__knockknockturnal__,I'd my own stint with these apps(a couple of m...,https://www.reddit.com/r/india/comments/fizkkk...,\nSomeone matched with me just to tell me that...,18,self.india
2,AskIndia,What does r/India thinks about the Flat Earthers?,Dev1003,"I encountered a Foreigner in IG who says "" Rou...",https://www.reddit.com/r/india/comments/f25vx0...,\nI haven't found a Indian yet who believes ea...,6,self.india
3,AskIndia,People who left their 9 to 5 jobs to pursue a ...,c0mrade34,Couldn't add AskIndia flair from the mobile br...,https://www.reddit.com/r/india/comments/dtvliq...,"\nAn Engineer, doing advertisement shoots sinc...",47,self.india
4,AskIndia,Somebody want to kill my full family what to do?,amitkumarthakur,"It's now 24hrs, But local police station is no...",https://www.reddit.com/r/india/comments/b7pvwt...,\nCalm down.\nGo to the SP office of your town...,96,self.india
...,...,...,...,...,...,...,...,...
4108,Food,New hunger games in jobless Bharat: A ground r...,madamplease,NaN,https://www.livemint.com/news/india/new-hunger...,"\nCongratulations to everyone who voted for ""d...",27,livemint.com
4109,Food,"Zomato delivery boys go on strike in Mumbai, B...",aiyyooooo,NaN,https://www.businesstoday.in/current/corporate...,\nJust proves that reckless cash burn ends up ...,237,businesstoday.in
4110,Food,"Kerala prisoners churn out 6,000 masks in 2 da...",Budget-Independent,NaN,https://theprint.in/india/kerala-prisoners-chu...,"\nDo they get paid ?\nMan, even their prisoner...",177,theprint.in
4111,Food,There's an India beyond social media. And we'r...,dlisfyn,I love the way some affluent people are cribbi...,https://www.reddit.com/r/india/comments/fru6lw...,\nWell said!! It’s sad thinking about the soci...,123,self.india
4112,Food,How long are we going to be locked down?,AlwaysHungr13,How long are we going to be locked down? With ...,https://www.reddit.com/r/india/comments/fo2c4r...,\nWith the current rate it should start to pea...,28,self.india

In [147]:
df_final=pd.concat([df1,df2],ignore_index=True)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [148]:
df_final
print(df1.columns,'\n',df2.columns,'\n',df_final.columns)

Index(['flair', 'title', 'author', 'text', 'url', 'comments', 'score',
       'domain'],
      dtype='object')
 Index(['flair', 'title', 'author', 'text', 'url', 'score', 'domain',
       'comments'],
      dtype='object')
 Index(['author', 'comments', 'domain', 'flair', 'score', 'text', 'title',
       'url'],
      dtype='object')

In [149]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15803 entries, 0 to 15802
Data columns (total 8 columns):
flair       15803 non-null object
title       15803 non-null object
author      15803 non-null object
text        5456 non-null object
url         15803 non-null object
score       15803 non-null int64
domain      15803 non-null object
comments    10920 non-null object
dtypes: int64(1), object(7)
memory usage: 987.8+ KB

In [150]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19916 entries, 0 to 19915
Data columns (total 8 columns):
author      19916 non-null object
comments    14686 non-null object
domain      19916 non-null object
flair       19916 non-null object
score       19916 non-null int64
text        7923 non-null object
title       19916 non-null object
url         19916 non-null object
dtypes: int64(1), object(7)
memory usage: 1.2+ MB

In [151]:
df_final.to_csv('final_db_2.csv',index=False)

In [89]:
df8=pd.read_csv('reddit_flair.csv')

In [90]:
df8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1799 entries, 0 to 1798
Data columns (total 8 columns):
flair       1799 non-null object
title       1799 non-null object
author      1799 non-null object
text        1066 non-null object
url         1799 non-null object
comments    1646 non-null object
score       1799 non-null int64
domain      1799 non-null object
dtypes: int64(1), object(7)
memory usage: 112.6+ KB

In [134]:
df9=df8[df8['text']!=np.nan]
df9.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 8 columns):
flair       0 non-null object
title       0 non-null object
author      0 non-null object
text        0 non-null object
url         0 non-null object
comments    0 non-null object
score       0 non-null int64
domain      0 non-null object
dtypes: int64(1), object(7)
memory usage: 0.0+ bytes

In [111]:
df_final2=pd.concat([df9,df_final],ignore_index=True)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [112]:
df_final2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13335 entries, 0 to 13334
Data columns (total 8 columns):
author      13335 non-null object
comments    10599 non-null object
domain      13335 non-null object
flair       13335 non-null object
score       13335 non-null int64
text        11689 non-null object
title       13335 non-null object
url         13335 non-null object
dtypes: int64(1), object(7)
memory usage: 833.6+ KB

In [113]:
df10=pd.read_csv('out.csv')

In [114]:
df10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15803 entries, 0 to 15802
Data columns (total 10 columns):
Unnamed: 0         15803 non-null int64
link_flair_text    15803 non-null object
title              15803 non-null object
author             15803 non-null object
selftext           5456 non-null object
url                15803 non-null object
id                 15803 non-null object
score              15803 non-null int64
domain             15803 non-null object
comments           10920 non-null object
dtypes: int64(2), object(8)
memory usage: 1.2+ MB

In [115]:
df11=df10[df10['selftext']==np.nan]

In [129]:
df12=pd.DataFrame(columns=df11.columns)

In [130]:
for index, row in df10.head(n=2).iterrows():
     df12.append(row)

In [131]:
df12.head()

Empty DataFrame
Columns: [Unnamed: 0, link_flair_text, title, author, selftext, url, id, score, domain, comments]
Index: []